<?xml version="1.0" encoding="utf-8" ?>   <!--檔案為XML格式,並且使用UTF-8編碼 -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--xmlns ／xmlns:xsi定義XML　命名空間  -->

  <!-- 定義儲存日誌的目錄與檔案名稱格式 -->
  <targets>
    <!-- Info 日誌 -->
    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}/Info.log"
            layout="${date:format=yyyyMMdd} ${level} ${message}" />
    <!-- Error 日誌 -->
    <target name="errorfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}/Error.log"
            layout="${date:format=yyyyMMdd} ${level} ${message}" />
  </targets>


  <rules>
    <logger name="*" levels="Info" writeTo="logfile" />
    <logger name="*" levels="Error" writeTo="errorfile" />
  </rules>

</nlog>
